In [1]:
import os
import glob
import shutil
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from NesrHydrusAnalyst import *

![title](../Assets/Domain.png)

In [2]:
extensions = ('', 'a', 'b', 'c', 'd', 'e')
sources = [f'../Datasets/H3D2_SandDitch0014{x}' for x in extensions]

In [3]:
dfs = [
    pd.read_csv(os.path.join(sources[x], 'Nesr', '1-Original_Grid.csv'))
    for x in range(len(extensions))
]

In [4]:
for x in range(len(extensions)):
    display(extensions[x], dfs[x].head(1))

''

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T720,V1_T1440,V2_T1440,V3_T1440,V1_T2160,V2_T2160,V3_T2160,V1_T2880,V2_T2880,V3_T2880
0,1,7.5,30.0,19.25,0.15,0.150278,0.150805,0.151563,0.239586,0.417002,...,-0.000162,-0.000031,2.916750e-07,-0.000041,-0.000015,6.311460e-08,-0.00001,-0.000007,1.667550e-08,-0.000002

'a'

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T720,V1_T1440,V2_T1440,V3_T1440,V1_T2160,V2_T2160,V3_T2160,V1_T2880,V2_T2880,V3_T2880
0,1,7.5,30.0,19.25,0.15,0.150279,0.150848,0.151986,0.327933,0.435693,...,-0.000171,-0.000021,2.702990e-07,-0.000037,-0.00001,5.287160e-08,-0.000009,-0.000005,1.310360e-08,-0.000002

'b'

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T720,V1_T1440,V2_T1440,V3_T1440,V1_T2160,V2_T2160,V3_T2160,V1_T2880,V2_T2880,V3_T2880
0,1,7.5,30.0,19.25,0.15,0.150278,0.150804,0.15156,0.345353,0.421597,...,-0.000128,-0.000023,2.884690e-07,-0.000039,-0.000014,1.029490e-07,-0.000013,-0.000009,5.639120e-08,-0.000003

'c'

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T720,V1_T1440,V2_T1440,V3_T1440,V1_T2160,V2_T2160,V3_T2160,V1_T2880,V2_T2880,V3_T2880
0,1,7.5,30.0,19.25,0.15,0.150278,0.150803,0.151532,0.266687,0.41654,...,-0.000167,-0.000025,3.654150e-07,-0.000046,-0.000015,1.256010e-07,-0.000014,-0.00001,6.433500e-08,-0.000003

'd'

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T720,V1_T1440,V2_T1440,V3_T1440,V1_T2160,V2_T2160,V3_T2160,V1_T2880,V2_T2880,V3_T2880
0,1,7.5,30.0,19.25,0.15,0.150278,0.150803,0.151539,0.308406,0.412841,...,-0.000133,-0.000026,3.727310e-07,-0.000041,-0.000018,1.639530e-07,-0.000013,-0.000013,1.058690e-07,-0.000002

'e'

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T720,V1_T1440,V2_T1440,V3_T1440,V1_T2160,V2_T2160,V3_T2160,V1_T2880,V2_T2880,V3_T2880
0,1,7.5,30.0,19.25,0.15,0.150278,0.150803,0.151532,0.270685,0.409786,...,-0.000157,-0.000028,4.269530e-07,-0.000046,-0.000018,1.844710e-07,-0.000014,-0.000013,1.153140e-07,-0.000002

In [5]:
# Test at different cross sections
for crossing in [0, 10, 20, 30, 45]:
    flow = get_uneven_spans_area(
        get_window_time_volumes(dfs[0], crossing, 2, 21))
    print(
        f'For the cross section at {crossing:5.2f} cm, The total passing flow = '
        f'{flow:6.4f} qcm')

For the cross section at  0.00 cm, The total passing flow = 0.0012 qcm
For the cross section at 10.00 cm, The total passing flow = 0.0004 qcm
For the cross section at 20.00 cm, The total passing flow = 0.0001 qcm
For the cross section at 30.00 cm, The total passing flow = 0.0000 qcm
For the cross section at 45.00 cm, The total passing flow = 1.4031 qcm

In [6]:
# get_window_time_volumes(df_rotated, 50, 2, 21, return_dictionary=False)
# Test at different cross sections
for crossing in [0, 10, 20, 30, 45]:
    flow = get_window_time_volumes(dfs[0], crossing, 2, 21)
    print(crossing, flow)

0 {0: 8.751058876868021e-06, 5: 1.1941223110428759e-05, 15: 1.1611631446186417e-05, 30: 1.1115245450951835e-05, 60: 2.0242946097260184e-05, 120: 0, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 0}
10 {0: 8.40135052961272e-06, 5: 7.293921547864896e-06, 15: 6.3510473359366144e-06, 30: 7.904753271108225e-06, 60: 0, 120: 0, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 0}
20 {0: 3.4106665213263925e-06, 5: 3.505955787675151e-06, 15: 3.3746811266550436e-06, 30: 0, 60: 0, 120: 0, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 0}
30 {0: 3.971393518784156e-06, 5: 3.9764055618142594e-06, 15: 0, 30: 0, 60: 0, 120: 0, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 0}
45 {0: 7.153804092855782e-05, 5: 0.007912945388627794, 15: 0.06302413233998283, 30: 0.02384628607440419, 60: 0, 120: 0.002553791310335569, 180: 0.0012120805346935387, 240: 0.0005708074253331994, 500: 4.433719620395006e-05, 720: 0, 1440: 0, 2160: 0, 2880: 0}

In [13]:
results={f'HYD14{x}':[] for x in extensions}
print(results)
for i, x in enumerate(extensions): 
    print (f'\nHYD14{x}', end=': ')
    for crossing in [0, 10, 20, 30, 45]:
        flow = get_uneven_spans_area(
            get_window_time_volumes(dfs[i], crossing, 2, 21))
        results[f'HYD14{x}'].append(flow)
        print('.', end='')
print('\n',results)

{'HYD14': [], 'HYD14a': [], 'HYD14b': [], 'HYD14c': [], 'HYD14d': [], 'HYD14e': []}

HYD14: .....
HYD14a: .....
HYD14b: .....
HYD14c: .....
HYD14d: .....
HYD14e: .....{'HYD14': [0.0011856139774245279, 0.000372658467823145, 5.2097056836301866e-05, 4.473456257041042e-05, 1.4030559436400127], 'HYD14a': [0.2122335125492113, 0.000734140970373274, 6.165486652125104e-05, 4.324023783474464e-05, 1.630680011958171], 'HYD14b': [0.38312949644299027, 0.00010484132453568986, 4.300594135805101e-05, 3.507367756049591e-05, 1.3677845448228825], 'HYD14c': [0.16636365741762557, 0.00025100692330797084, 5.1187263728173885e-05, 4.384836170815266e-05, 1.4974864564349026], 'HYD14d': [0.17246293188734413, 0.00011575480498236591, 4.2778970625748994e-05, 4.2497620660182154e-05, 1.570115007007512], 'HYD14e': [0.1637011205415325, 0.00020257134687484576, 4.992370678612738e-05, 4.374528629232242e-05, 1.6003884836047504]}

In [16]:
pd.DataFrame(results, index=[0, 10, 20, 30, 45]).T

              0         10        20        30        45
HYD14   0.001186  0.000373  0.000052  0.000045  1.403056
HYD14a  0.212234  0.000734  0.000062  0.000043  1.630680
HYD14b  0.383129  0.000105  0.000043  0.000035  1.367785
HYD14c  0.166364  0.000251  0.000051  0.000044  1.497486
HYD14d  0.172463  0.000116  0.000043  0.000042  1.570115
HYD14e  0.163701  0.000203  0.000050  0.000044  1.600388

In [31]:
def get_simulations_table(height, ends, cross_y=[0, 10, 20, 30, 45]):
    results = {f'HYD14{x:2}': [] for x in extensions}
    # print(results)
    for i, x in enumerate(extensions):
        print(f'\nHYD14{x:2}', end=': ')
        for crossing in cross_y:
            flow = get_uneven_spans_area(
                get_window_time_volumes(dfs[i], crossing, height, ends))
            results[f'HYD14{x:2}'].append(flow)
            print('.', end='')

    return pd.DataFrame(results, index=cross_y).T

### The runoff occurs from 25cm to 28cm in the X (height) direction
which is ***3*** cm height, and ends in ***X=28***, thus put the values 3, 28

In [29]:
runoff=get_simulations_table(3,28)
runoff

HYD14  : .....
HYD14a : .....
HYD14b : .....
HYD14c : .....
HYD14d : .....
HYD14e : .....

               0         10        20            30        45
HYD14    0.007734  0.010754  0.006472  5.834794e-03  1.859802
HYD14a   0.009902  0.008123  0.005136  1.445291e-02  1.725950
HYD14b   0.008991  0.001090  0.002636 -3.552714e-15  2.549716
HYD14c   0.008246  0.003071  0.004163  4.446251e-03  2.673026
HYD14d   0.009824  0.001806  0.003304  4.392702e-03  2.525675
HYD14e   0.008502  0.002830  0.003831  4.618225e-03  2.517244

### The drainage occurs from 0cm to 2cm in the X (height) direction
which is ***2*** cm height, and ends in ***X=2***, thus put the values 2, 2

In [32]:
drainage=get_simulations_table(2,2)
drainage

HYD14  : .....
HYD14a : .....
HYD14b : .....
HYD14c : .....
HYD14d : .....
HYD14e : .....

               0         10        20        30        45
HYD14    0.008869  0.003545  0.003297  0.003942  0.017578
HYD14a   0.008325  0.002957  0.003268  0.003701  0.017560
HYD14b   0.008916  0.005374  0.002709  0.004200  0.016053
HYD14c   0.008944  0.005369  0.002611  0.004161  0.016023
HYD14d   0.009023  0.007695  0.002408  0.003416  0.020143
HYD14e   0.009006  0.007634  0.002371  0.003384  0.019817

In [41]:
all_boundary=get_simulations_table(28,28)
all_boundary

HYD14  : .....
HYD14a : .....
HYD14b : .....
HYD14c : .....
HYD14d : .....
HYD14e : .....

               0         10        20        30         45
HYD14    0.452953  0.068754  0.070484  0.069754   6.589438
HYD14a   0.704083  0.070993  0.071471  0.077361   7.744806
HYD14b   0.709392  0.083915  0.057883  0.066464  10.285885
HYD14c   0.816944  0.084302  0.057979  0.070057  10.535683
HYD14d   0.665278  0.120157  0.056741  0.058485  10.554717
HYD14e   0.826682  0.118711  0.056868  0.060215  10.561917

## Trying to calculate the input flux

In [45]:
# The flux is along Z axis in this problem
z_crosses =[0, 2, 4, 14, 20, 26, 28]
for cr in z_crosses:
    print(cr, get_window_time_volumes(dfs[0], cr, 2, 2, section='z'))

0 {0: 0, 5: 0.008887260779064295, 15: 0.003062682732840454, 30: 0.0012015116334282093, 60: 0.0007319582664570647, 120: 0.00046664216584788926, 180: 0.0002747088304759568, 240: 0.0001899397405573426, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 1.3862506264931587e-06}
2 {0: 0.014948324808639077, 5: 0.014904100053296057, 15: 0.00788523244664406, 30: 0.004682823245489453, 60: 0.003505454949672815, 120: 0.0022916332179433907, 180: 0.001408815479897362, 240: 0.0009903107496066917, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 1.6567841987511203e-06}
4 {0: 0.0019160796127418117, 5: 0.0024263070594276576, 15: 0.004956423932899088, 30: 0.0055557039704572445, 60: 0.004693294706293463, 120: 0.00261721320644879, 180: 0.0017926009437495961, 240: 0.0012506947475900189, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 0}
14 {0: 11.997073638275737, 5: 0.022193428199130356, 15: 0.007808311325513155, 30: 0.0037870995531659843, 60: 0.0016388065357349185, 120: 0.00042674522177478074, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 0}
20 {0: 0, 5: 0, 15: 0, 30: 0, 60: 0, 120: 0, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 0}
26 {0: 0, 5: 0, 15: 0, 30: 0, 60: 0, 120: 0, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 2.2779552855945302e-05, 2160: 2.3973064881488632e-05, 2880: 9.99588162243134e-06}
28 {0: 0, 5: 0, 15: 0, 30: 0, 60: 0, 120: 0, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 2.205516129962768e-07}

In [4]:
# Through X direction, and the window is is Y and Z directions (all Y and section of Z)
crossing = 45
flow = get_window_time_volumes(dfs[0], crossing, 3,28, section='x')
print(crossing, flow)

45 {0: 0.12560914693041964, 5: 0.029551240315664917, 15: 0.028860611719868923, 30: 0.01113305107145377, 60: 0.0001772236634439328, 120: 0.00202641273724477, 180: 0.001110699568425912, 240: 0.0004642503377462103, 500: 3.643047254694127e-05, 720: 1.5612131210126862e-05, 1440: 2.377013369080268e-06, 2160: 6.628860171147857e-07, 2880: 2.1724986209944367e-07}

In [5]:
# Take the last 3 cm of each setion
data = (('x', 'z', 45, 3, 28), ('x', 'y', 45, 3, 30),
        ('y', 'z', 30, 3, 28), ('y', 'x', 30, 3, 45),
        ('z', 'x', 28, 3, 45), ('z', 'y', 28, 3, 30), )
for case in data:
    sec, prt, crossing, s_length, s_end = case
    flow = get_window_time_volumes(dfs[0], crossing, s_length, s_end, section=sec, partition_axis=prt)
    print(case, flow)

('x', 'z', 45, 3, 28) {0: 0.814944566864318, 5: 0.1429602395936842, 15: 0.0040517871175384645, 30: 0, 60: 0, 120: 0.002347443470566647, 180: 0.0009655124229737946, 240: 3.518674308592387e-05, 500: 3.588541363922107e-05, 720: 1.6817372259815972e-05, 1440: 2.639078245728648e-06, 2160: 7.543640972500021e-07, 2880: 2.548405381316412e-07}
('x', 'y', 45, 3, 30) {0: 0.06435769596369106, 5: 0.04893186118689956, 15: 0.019176618442864505, 30: 0.009447488873584082, 60: 0.0002241637972816165, 120: 0.0010339787806330012, 180: 0.0007156541614816649, 240: 0.0003496451974251148, 500: 1.9634997703916254e-05, 720: 8.800383690305001e-06, 1440: 1.3995843954028107e-06, 2160: 3.761224881812167e-07, 2880: 1.282442478416559e-07}
('y', 'z', 30, 3, 28) {0: 0.7854744214296617, 5: 0.12198110007639049, 15: 0.13600871004840165, 30: 0.13099134723959704, 60: 0.14919180026611092, 120: 0.002626317482332404, 180: 0.0005450891008711925, 240: 0.0001747704305242918, 500: 3.4322561498095796e-05, 720: 1.5316236648264207e-05, 1440: 2.8559018436437316e-06, 2160: 9.394834106052766e-07, 2880: 5.293106692698325e-07}
('y', 'x', 30, 3, 45) {0: 0.08116004581793117, 5: 0.22513170712823843, 15: 0.13471685350366727, 30: 0.09767335996849842, 60: 0.10393794615007353, 120: 0.0018978468819476288, 180: 0.0012867351832477098, 240: 0.0006796513550426088, 500: 0.0001636813866639168, 720: 8.846364250189885e-05, 1440: 2.825668505489779e-05, 2160: 1.2531304025535952e-05, 2880: 5.603101369965074e-06}
('z', 'x', 28, 3, 45) {0: 0, 5: 0, 15: 0, 30: 0, 60: 0, 120: 0, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 0}
('z', 'y', 28, 3, 30) {0: 0, 5: 0, 15: 0, 30: 0, 60: 0, 120: 0, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 2.533974349827578e-07}

In [6]:
# Take the most important sections
data = (('Runoff', 'x', 'z', 45, 3, 28),
        ('Drainage', 'x', 'z', 45, 2, 2),
        ('Flux', 'z', 'x', 28, 3, 45),
        ('Flux0', 'z', 'x', 28, 3, 3),
        ('Evaporation', 'z', 'x', 28, 42, 42),
        )

'''
First results
('Runoff', 'x', 'z', 45, 3, 28) 1.7358156406026053
('Drainage', 'x', 'z', 45, 2, 2) 0.01640582312869202
('Flux', 'z', 'x', 28, 3, 45) 0.

'''

for fltr_neg in (True, False):
    negs = 'Negatives are excluded' if fltr_neg else 'Negatives are included'
    for abs_vel in (True, False):
        abss = 'Absolute values were taken' if abs_vel else 'Values were taken with sign'
        for case in data:
            caption, sec, prt, crossing, s_length, s_end = case
            flow = get_uneven_spans_area(get_window_time_volumes(dfs[0], crossing, s_length, s_end,
                                                                 section=sec, partition_axis=prt,
                                                                 filter_negatives=fltr_neg,
                                                                 absolute_velocities=abs_vel))
            print(negs, abss, case, flow)

Negatives are excluded Absolute values were taken ('Runoff', 'x', 'z', 45, 3, 28) 684.96837356992
Negatives are excluded Absolute values were taken ('Drainage', 'x', 'z', 45, 2, 2) 0.7210751921867523
Negatives are excluded Absolute values were taken ('Flux', 'z', 'x', 28, 3, 45) 2235.3876452290338
Negatives are excluded Absolute values were taken ('Flux0', 'z', 'x', 28, 3, 3) 4.1088599378958675
Negatives are excluded Absolute values were taken ('Evaporation', 'z', 'x', 28, 42, 42) 549.982139919597
Negatives are excluded Values were taken with sign ('Runoff', 'x', 'z', 45, 3, 28) 1.7358156406026053
Negatives are excluded Values were taken with sign ('Drainage', 'x', 'z', 45, 2, 2) 0.01640582312869202
Negatives are excluded Values were taken with sign ('Flux', 'z', 'x', 28, 3, 45) 0.0
Negatives are excluded Values were taken with sign ('Flux0', 'z', 'x', 28, 3, 3) 0.0001684624696135369
Negatives are excluded Values were taken with sign ('Evaporation', 'z', 'x', 28, 42, 42) 14.730444664755908
Negatives are included Absolute values were taken ('Runoff', 'x', 'z', 45, 3, 28) 684.96837356992
Negatives are included Absolute values were taken ('Drainage', 'x', 'z', 45, 2, 2) 0.7210751921867523
Negatives are included Absolute values were taken ('Flux', 'z', 'x', 28, 3, 45) 2235.3876452290338
Negatives are included Absolute values were taken ('Flux0', 'z', 'x', 28, 3, 3) 4.1088599378958675
Negatives are included Absolute values were taken ('Evaporation', 'z', 'x', 28, 42, 42) 549.982139919597
Negatives are included Values were taken with sign ('Runoff', 'x', 'z', 45, 3, 28) -684.5490442230581
Negatives are included Values were taken with sign ('Drainage', 'x', 'z', 45, 2, 2) -0.7005984399575186
Negatives are included Values were taken with sign ('Flux', 'z', 'x', 28, 3, 45) -2235.3876452290338
Negatives are included Values were taken with sign ('Flux0', 'z', 'x', 28, 3, 3) -4.108666620307787
Negatives are included Values were taken with sign ('Evaporation', 'z', 'x', 28, 42, 42) -549.6353372765827