In [1]:
import os
import glob
import shutil
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from NesrHydrusAnalyst import *

In [2]:
src = '../Datasets/H3D2_SandDitch0011'

In [3]:
# Reading the mesh files

df = read_hydrus_data(folder=src, save_to_csv=False, read_velocities=True)
display(df.sample(3), get_full_simulation_info(df))

 For the entire simulation
 =========================
Time steps : [0, 5, 15, 30, 60, 120, 180, 240, 500, 720, 1440]
Dimensions : {'x': (-0.839105, 49.9601), 'y': (0.0, 20.0), 'z': (0.0, 22.9811)}
Matrix dims: x_vals(41,), z_vals(46,), X(46, 41), Z(46, 41), M(46, 41)


 Variables statistics:
 =====================

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T240,V1_T500,V2_T500,V3_T500,V1_T720,V2_T720,V3_T720,V1_T1440,V2_T1440,V3_T1440
727,727,8.37347,20.00000,15.84720,0.2,0.200000,0.200000,0.200003,0.206674,0.295909,...,-0.000796,-0.000047,5.806480e-06,-0.000342,-0.000053,0.000002,-0.000213,-0.000055,-9.021610e-07,-0.000039
8168,8168,48.87510,13.15310,5.08041,0.2,0.199934,0.199981,0.200158,0.200626,0.300361,...,0.001300,-0.000018,5.022550e-07,0.000515,-0.000006,0.000001,0.000268,0.000001,3.928470e-07,-0.000012
5091,5091,3.58860,3.81633,3.42251,0.2,0.199950,0.199953,0.200015,0.200219,0.339039,...,0.001343,-0.000046,3.461800e-06,0.000572,-0.000040,0.000003,0.000390,-0.000035,1.199470e-06,0.000163

           Min       Mean        Median        Max
Th    0.049132   0.257289  3.117305e-01   0.430000
H  -676.912000 -66.645863 -1.962600e+01  12.429200
V1   -1.660930  -0.021988 -1.864930e-05   0.802749
V2   -0.263769  -0.000331  1.837060e-08   0.265775
V3   -1.086420  -0.002844 -2.684000e-05   0.777201

In [4]:
# Rotating the mesh file

df_rotated = rotate_back(df, 2.2899, rotation_axis='y')
get_full_simulation_info(df_rotated)

 For the entire simulation
 =========================
Time steps : [0, 5, 15, 30, 60, 120, 180, 240, 500, 720, 1440]
Dimensions : {'x': (0.0, 50.0), 'y': (0.0, 20.0), 'z': (0.0, 21.0)}
Matrix dims: x_vals(41,), z_vals(43,), X(43, 41), Z(43, 41), M(43, 41)


 Variables statistics:
 =====================

           Min       Mean        Median        Max
Th    0.049132   0.257289  3.117305e-01   0.430000
H  -676.912000 -66.645863 -1.962600e+01  12.429200
V1   -1.660930  -0.021988 -1.864930e-05   0.802749
V2   -0.263769  -0.000331  1.837060e-08   0.265775
V3   -1.086420  -0.002844 -2.684000e-05   0.777201

In [5]:
#Reading two files: `A_Level.out` and `ATMOSPH.IN`

read_a_level_out(src, geom='3D')

,Time,CumQAP,CumQRP,CumQA,CumQR,CumQ3,hAtm,hRoot,hKode3,A-level,...,rRoot,hCritA,rt,ht,rt,ht,rt,ht,rt,ht
0,60.0,0.0,0.0,0.0,0.0,-2400.0,-4.0,0.0,10.7,1,...,0.000278,10000,-2,0,0,0,0,0,0,0
1,1440.0,0.0,0.0,0.0,0.0,-2400.0,-28.2,0.0,-25.9,2,...,0.000278,10000,0,0,0,0,0,0,0,0

In [6]:
# Reading of one file: Balance.out
    # Returns
    # 1. the total computing time of the simulation AND
    # 2. A dataframe table of water balance info

display (*read_balance_out(src))

'80.7799999713898'

      Time   Volume  VolumeW     InFlow    hMean   WatBalT  WatBalR
0      0.0  21000.0   3798.8   0.000000 -189.990       NaN      NaN
1      5.0  21000.0   3998.8  39.996000 -123.710  0.030824    0.008
2     15.0  21000.0   4398.8  39.998000 -112.810 -0.000182    0.000
3     30.0  21000.0   4998.8  40.001000  -98.652 -0.004614    0.000
4     60.0  21000.0   6198.7  39.999000  -67.802 -0.099587    0.004
5    120.0  21000.0   6191.2  -0.242520  -45.578 -0.225750    0.009
6    180.0  21000.0   6178.2  -0.183360  -37.625 -0.190910    0.008
7    240.0  21000.0   6169.4  -0.127460  -32.564 -0.179100    0.007
8    500.0  21000.0   6151.4  -0.041062  -23.068 -0.148190    0.006
9    720.0  21000.0   6144.9  -0.023799  -20.772 -0.141510    0.006
10  1440.0  21000.0   6134.4  -0.011621  -19.604 -0.114080    0.005

In [7]:
#Reading four files: SELECTOR.IN, DIMENSIO.IN, Run_Inf.out, Balance.out

read_selector_in(src, geom='3D')

,SimulTime_s,L_Unit,T_Unit,Category,MaxIt,TolTh,TolH,InitH/W,lWat,lChem,...,TLevel_i,Time_i,dt_i,Iter_i,ItCum_i,TLevel_e,Time_e,dt_e,Iter_e,ItCum_e
0,80.78,1.0,1.0,3.0,10.0,0.001,1.0,1.0,1.0,0.0,...,1.0,0.001,0.001,2.0,2.0,565.0,1440.0,114.75,3.0,2214.0

In [8]:
# Combines the most important info from the following files 
# into one dataframe: SELECTOR.IN, DIMENSIO.IN, Run_Inf.out, 
# Balance.out, A_Level.out and ATMOSPH.IN
    
goldf = get_one_line_df(src, simulation_name="Sand Ditch simulation", dims='3d').T
goldf

,SimulTime_s,L_Unit,T_Unit,Category,MaxIt,TolTh,TolH,InitH/W,lWat,lChem,...,hMean5,hMean15,hMean30,hMean60,hMean120,hMean180,hMean240,hMean500,hMean720,hMean1440
Sand Ditch simulation,80.78,1.0,1.0,3.0,10.0,0.001,1.0,1.0,1.0,0.0,...,-123.71,-112.81,-98.652,-67.802,-45.578,-37.625,-32.564,-23.068,-20.772,-19.604

In [9]:
'VarFluxArea' in list(goldf)

False

In [10]:
# updates the get_one_line_df function to add info from 
#     `Boundary.out` and `Check.out` files

golp = get_one_line_plus(src).T
golp

,SimulTime_s,L_Unit,T_Unit,Category,MaxIt,TolTh,TolH,InitH/W,lWat,lChem,...,Alfa_3,n_1,n_2,n_3,Ks_1,Ks_2,Ks_3,Lambda_1,Lambda_2,Lambda_3
Sand Ditch simulation,80.78,1.0,1.0,3.0,10.0,0.001,1.0,1.0,1.0,0.0,...,0.145,2.68,1.48,2.68,0.495,0.00218,2.0,0.5,0.5,0.5

In [11]:
'VarFluxArea' in list(golp)

True

In [12]:
# Reading and combining Cum_Q.out, h_Mean.out, v_Mean.out, Run_inf.out tables

get_mean_outs_table(src)

,Time_T,CumQAP_L3,CumQRP_L3,CumQA_L3,CumQR_L3,CumQ3_L3,CumQ1_L3,CumQS_L3,CumQ5_L3,CumQ6_L3,...,vKode7_L3pT,vKode8_L3pT,vKode9_L3pT,RunOff_LpT,Evapor_LpT,Infiltr_LpT,SnowLayer_L,dt,Iter,ItCum
0,0.0010,0.0,0.0,0.0,0.0,-0.040,0.0,0.0,0.0,0.000009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001000,2,2
1,0.0020,0.0,0.0,0.0,0.0,-0.080,0.0,0.0,0.0,0.000019,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001000,2,4
2,0.0033,0.0,0.0,0.0,0.0,-0.132,0.0,0.0,0.0,0.000031,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001300,3,7
3,0.0050,0.0,0.0,0.0,0.0,-0.200,0.0,0.0,0.0,0.000046,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001690,3,10
4,0.0072,0.0,0.0,0.0,0.0,-0.287,0.0,0.0,0.0,0.000067,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002197,3,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,980.9964,0.0,0.0,0.0,0.0,-2400.000,0.0,0.0,0.0,58.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,76.501000,3,2201
561,1095.7473,0.0,0.0,0.0,0.0,-2400.000,0.0,0.0,0.0,60.100000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,114.750000,4,2205
562,1210.4982,0.0,0.0,0.0,0.0,-2400.000,0.0,0.0,0.0,61.600000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,114.750000,3,2208
563,1325.2491,0.0,0.0,0.0,0.0,-2400.000,0.0,0.0,0.0,63.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,114.750000,3,2211
564,1440.0000,0.0,0.0,0.0,0.0,-2400.000,0.0,0.0,0.0,64.300000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,114.750000,3,2214

In [13]:
# Saving the dataframe as CSV

save_this(df, src, 'Original_Grid', authorized=True)
save_this(df_rotated, src, 'Rotated_grid', authorized=True)

**SAVED**
path: ../Datasets/H3D2_SandDitch0011/Nesr/Original_Grid.csv
**SAVED**
path: ../Datasets/H3D2_SandDitch0011/Nesr/Rotated_grid.csv

In [14]:
# Saving all the properties from `get_one_line_plus` to CSV
save_all_simulation_info(
    src, saving_name='Simulation_properties', save_type='csv')

**SAVED**
path: ../Datasets/H3D2_SandDitch0011/Nesr/Simulation_properties.csv

In [15]:
get_materials_properties(src)

,Material,theta,h,log_h,C,K,log_K,S
0,1,0.430,-0.0100,-2.000,0.000000e+00,4.950000e-01,-0.3054,1.0
1,1,0.430,-0.0115,-1.939,0.000000e+00,4.950000e-01,-0.3054,1.0
2,1,0.430,-0.0132,-1.879,0.000000e+00,4.950000e-01,-0.3054,1.0
3,1,0.430,-0.0152,-1.818,0.000000e+00,4.950000e-01,-0.3054,1.0
4,1,0.430,-0.0175,-1.758,0.000000e+00,4.950000e-01,-0.3054,1.0
...,...,...,...,...,...,...,...,...
291,3,0.045,-5720.0000,3.758,1.442000e-09,8.241000e-19,-18.0800,0.0
292,3,0.045,-6580.0000,3.818,9.923000e-10,3.469000e-19,-18.4600,0.0
293,3,0.045,-7560.0000,3.879,6.827000e-10,1.460000e-19,-18.8400,0.0
294,3,0.045,-8700.0000,3.939,4.697000e-10,6.148000e-20,-19.2100,0.0
295,3,0.045,-10000.0000,4.000,3.231000e-10,2.588000e-20,-19.5900,0.0

In [16]:
save_materials_properties(src)

**SAVED**
path: ../Datasets/H3D2_SandDitch0011/Nesr/Materials_info.csv