In [1]:
import os
import glob
import shutil
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from NesrHydrusAnalyst import *

In [2]:
extensions = ('', 'a', 'b', 'c', 'd', 'e')
sources = [f'../Datasets/H3D2_SandDitch0014{x}' for x in extensions]

In [3]:
dfs = [
    pd.read_csv(os.path.join(sources[x], 'Nesr', '1-Original_Grid.csv'))
    for x in range(len(extensions))
]

In [4]:
for x in range(len(extensions)):
    display(extensions[x], dfs[x].head(1))

''

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T720,V1_T1440,V2_T1440,V3_T1440,V1_T2160,V2_T2160,V3_T2160,V1_T2880,V2_T2880,V3_T2880
0,1,7.5,30.0,19.25,0.15,0.150278,0.150805,0.151563,0.239586,0.417002,...,-0.000162,-0.000031,2.916750e-07,-0.000041,-0.000015,6.311460e-08,-0.00001,-0.000007,1.667550e-08,-0.000002

'a'

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T720,V1_T1440,V2_T1440,V3_T1440,V1_T2160,V2_T2160,V3_T2160,V1_T2880,V2_T2880,V3_T2880
0,1,7.5,30.0,19.25,0.15,0.150279,0.150848,0.151986,0.327933,0.435693,...,-0.000171,-0.000021,2.702990e-07,-0.000037,-0.00001,5.287160e-08,-0.000009,-0.000005,1.310360e-08,-0.000002

'b'

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T720,V1_T1440,V2_T1440,V3_T1440,V1_T2160,V2_T2160,V3_T2160,V1_T2880,V2_T2880,V3_T2880
0,1,7.5,30.0,19.25,0.15,0.150278,0.150804,0.15156,0.345353,0.421597,...,-0.000128,-0.000023,2.884690e-07,-0.000039,-0.000014,1.029490e-07,-0.000013,-0.000009,5.639120e-08,-0.000003

'c'

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T720,V1_T1440,V2_T1440,V3_T1440,V1_T2160,V2_T2160,V3_T2160,V1_T2880,V2_T2880,V3_T2880
0,1,7.5,30.0,19.25,0.15,0.150278,0.150803,0.151532,0.266687,0.41654,...,-0.000167,-0.000025,3.654150e-07,-0.000046,-0.000015,1.256010e-07,-0.000014,-0.00001,6.433500e-08,-0.000003

'd'

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T720,V1_T1440,V2_T1440,V3_T1440,V1_T2160,V2_T2160,V3_T2160,V1_T2880,V2_T2880,V3_T2880
0,1,7.5,30.0,19.25,0.15,0.150278,0.150803,0.151539,0.308406,0.412841,...,-0.000133,-0.000026,3.727310e-07,-0.000041,-0.000018,1.639530e-07,-0.000013,-0.000013,1.058690e-07,-0.000002

'e'

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T720,V1_T1440,V2_T1440,V3_T1440,V1_T2160,V2_T2160,V3_T2160,V1_T2880,V2_T2880,V3_T2880
0,1,7.5,30.0,19.25,0.15,0.150278,0.150803,0.151532,0.270685,0.409786,...,-0.000157,-0.000028,4.269530e-07,-0.000046,-0.000018,1.844710e-07,-0.000014,-0.000013,1.153140e-07,-0.000002

In [5]:
# Test at different cross sections
for crossing in [0, 10, 20, 30, 45]:
    flow = get_uneven_spans_area(
        get_window_time_volumes(dfs[0], crossing, 2, 21))
    print(
        f'For the cross section at {crossing:5.2f} cm, The total passing flow = '
        f'{flow:6.4f} qcm')

For the cross section at  0.00 cm, The total passing flow = 0.0012 qcm
For the cross section at 10.00 cm, The total passing flow = 0.0004 qcm
For the cross section at 20.00 cm, The total passing flow = 0.0001 qcm
For the cross section at 30.00 cm, The total passing flow = 0.0000 qcm
For the cross section at 45.00 cm, The total passing flow = 1.4031 qcm

In [6]:
# get_window_time_volumes(df_rotated, 50, 2, 21, return_dictionary=False)
# Test at different cross sections
for crossing in [0, 10, 20, 30, 45]:
    flow = get_window_time_volumes(dfs[0], crossing, 2, 21)
    print(crossing, flow)

0 {0: 8.751058876868021e-06, 5: 1.1941223110428759e-05, 15: 1.1611631446186417e-05, 30: 1.1115245450951835e-05, 60: 2.0242946097260184e-05, 120: 0, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 0}
10 {0: 8.40135052961272e-06, 5: 7.293921547864896e-06, 15: 6.3510473359366144e-06, 30: 7.904753271108225e-06, 60: 0, 120: 0, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 0}
20 {0: 3.4106665213263925e-06, 5: 3.505955787675151e-06, 15: 3.3746811266550436e-06, 30: 0, 60: 0, 120: 0, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 0}
30 {0: 3.971393518784156e-06, 5: 3.9764055618142594e-06, 15: 0, 30: 0, 60: 0, 120: 0, 180: 0, 240: 0, 500: 0, 720: 0, 1440: 0, 2160: 0, 2880: 0}
45 {0: 7.153804092855782e-05, 5: 0.007912945388627794, 15: 0.06302413233998283, 30: 0.02384628607440419, 60: 0, 120: 0.002553791310335569, 180: 0.0012120805346935387, 240: 0.0005708074253331994, 500: 4.433719620395006e-05, 720: 0, 1440: 0, 2160: 0, 2880: 0}