# Reading the rest of HYDRUS files
![The project files](../Assets/Project_files.png)

## Importing and loading dataset

In [1]:
import os
import glob
import shutil
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from NesrHydrusAnalyst import *

In [2]:
src = '../Datasets/H3D2_SandDitch0011'

## Unreadable files
Encrypted files that are converted to text elswhere
1. `h.out`
2. `Q.out`
3. `v.out`
3. `th.out`
4. `MESHTRIA.000`
4. `DOMAIN.IN`

## Reading previous implemented files
### Reading the _mesh files_
1. `H.TXT`
2. `V.TXT`
3. `TH.TXT`
4. `MESHTRIA.TXT`

In [4]:
df = read_hydrus_data(folder=src, save_to_csv=False, read_velocities=True)
display(df.sample(3), get_full_simulation_info(df))

df_rotated = rotate_back(df, 2.2899, rotation_axis='y')
get_full_simulation_info(df_rotated)

 For the entire simulation
 =========================
Time steps : [0, 5, 15, 30, 60, 120, 180, 240, 500, 720, 1440]
Dimensions : {'x': (-0.839105, 49.9601), 'y': (0.0, 20.0), 'z': (0.0, 22.9811)}
Matrix dims: x_vals(41,), z_vals(46,), X(46, 41), Z(46, 41), M(46, 41)


 Variables statistics:
 =====================

,n,x,y,z,Th_T0,Th_T5,Th_T15,Th_T30,Th_T60,Th_T120,...,V3_T240,V1_T500,V2_T500,V3_T500,V1_T720,V2_T720,V3_T720,V1_T1440,V2_T1440,V3_T1440
1266,1266,22.7091,9.23077,0.908123,0.15,0.119158,0.106917,0.098430,0.430000,0.426271,...,-0.003333,-0.003492,-0.000026,-0.001036,-0.002300,-0.000019,-0.000648,-0.001456,-2.256330e-05,-0.000330
2705,2705,49.4606,7.69231,14.487900,0.20,0.200000,0.200001,0.200277,0.266887,0.316886,...,-0.000862,0.000022,0.000004,-0.000419,0.000011,0.000003,-0.000244,0.000003,1.035450e-06,-0.000057
2980,2980,41.1274,10.76920,22.661400,0.10,0.382433,0.430000,0.430000,0.430000,0.223530,...,-0.000102,-0.000106,0.000004,-0.000037,-0.000022,0.000003,-0.000020,0.000003,9.741010e-07,-0.000004

           Min       Mean        Median        Max
Th    0.049132   0.257289  3.117305e-01   0.430000
H  -676.912000 -66.645863 -1.962600e+01  12.429200
V1   -1.660930  -0.021988 -1.864930e-05   0.802749
V2   -0.263769  -0.000331  1.837060e-08   0.265775
V3   -1.086420  -0.002844 -2.684000e-05   0.777201

 For the entire simulation
 =========================
Time steps : [0, 5, 15, 30, 60, 120, 180, 240, 500, 720, 1440]
Dimensions : {'x': (0.0, 50.0), 'y': (0.0, 20.0), 'z': (0.0, 21.0)}
Matrix dims: x_vals(41,), z_vals(43,), X(43, 41), Z(43, 41), M(43, 41)


 Variables statistics:
 =====================

           Min       Mean        Median        Max
Th    0.049132   0.257289  3.117305e-01   0.430000
H  -676.912000 -66.645863 -1.962600e+01  12.429200
V1   -1.660930  -0.021988 -1.864930e-05   0.802749
V2   -0.263769  -0.000331  1.837060e-08   0.265775
V3   -1.086420  -0.002844 -2.684000e-05   0.777201

### Reading the _information files_
1. `A_Level.out`
2. `ATMOSPH.IN`
3. `Balance.out`
4. `DIMENSIO.IN`
5. `Run_Inf.out`
6. `SELECTOR.IN`

## Files to be implemented here
### Spread-info files

1. `Cum_Q.out`
1. `h_Mean.out`
1. `v_Mean.out`

### Fragment-info files

1. `Boundary.out`
1. `BOUNDARY.IN`
1. `Check.out`